@charset "utf-8";

html, body {
  height: 100%;
  margin:0;
  padding:0;
}

.background_welcome{ 
    background-image: url("/images/the_avengers-wallpaper-1024x768.jpg"); 
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    height: 100%;
} 

.background_welcome::before{
  /* 透過した黒を上から重ねるイメージ */
  background-color: rgba(0,0,0,0.4);
  /* 自由に位置指定 */
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: ' ';
  background-size: cover;
}

.contents{
  position: absolute;
  width: 100%;
  text-align: center;
}

.background_register{ 
    background-image: url("/images/no_time_to_die_movie_2020-wallpaper-1152x720.jpg"); 
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
} 

.background_register::before{
  /* 透過した黒を上から重ねるイメージ */
  background-color: rgba(0,0,0,0.4);
  /* 自由に位置指定 */
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  content: ' ';
  background-size: cover;
  background-attachment: fixed;
  
}

.background_choice{ 
    background-image: url("/images/man_of_steel_2013-wallpaper-1152x720.jpg"); 
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
} 

.background_choice::before{
  /* 透過した黒を上から重ねるイメージ */
  background-color: rgba(0,0,0,0.4);
  /* 自由に位置指定 */
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  content: ' ';
  background-attachment: fixed;
}

#text{
   color: white;
   text-shadow:0 0 10px #FF0;
   margin-top: 160px;
}

#text_result{
   color: white;
   margin-top: 60px;
   margin-bottom: 60px;
}

.result_title{
    color: white;
    font-weight: bold; 
    margin-left: 400px;
}
.text_con{
   color: white;
   margin-top: 60px;
   margin-left: 400px;
}
.side{
   float: left;
}

.text_none{
    margin-top: 200px;
}

.result_button{
    margin-top: 100px;
    margin-left: 400px;
}

#text_register{
   color: white;
   text-shadow:0 0 10px #FF0;
}

.welcometext{
   margin-top: 100px;
   margin-bottom: 100px;
}

#navbar{
    color:red;
    font-family:cursive;
}

.buttons{
   display: inline-block
}

.buttons_choice{
   margin-top: 100px;
}

.scroll{
    overflow:auto;
	width:730px; height:700px;
	padding:5px;
	border:2px dotted #ffffff;
	color:black;
	background-color:white;
	line-height:1.5em;
    font-weight: bold; 
	font-size:200%;
}

.user_buttons{
  margin-top: 50px;
  display: flex;
  justify-content: space-evenly;
}

